
body{
    text-align: left;
    float: left;
    justify-content: right;

}


.diva {
    display: flex;
    text-align: left;
    justify-content: left;
}

.card {
    width: 50vw;
    border: 4px black;
}

div {
    display: flex;
    flex-direction: column;
    text-align: right;
}


h1 {
    text-align: left;
    font-size: 2vh;
}

.results {
    text-align: right;
}

